<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 400px;">
    <h3 class="text-center mb-3">Crear Cuenta 🚀</h3>

    @if (mensajeError) {
        <div class="alert alert-danger">{{ mensajeError }}</div>
    }

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Nombre Completo</label>
        <input type="text" [(ngModel)]="form.nombre" name="nombre" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Correo Electrónico</label>
        <input type="email" [(ngModel)]="form.email" name="email" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="form.password" name="password" class="form-control" required minlength="6">
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="cargando">
        {{ cargando ? 'Registrando...' : 'Registrarme' }}
      </button>
    </form>

    <div class="mt-3 text-center">
      <small>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></small>
    </div>
  </div>
</div>