<footer class="footer py-3 mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 text-start">
                <p class="mb-0 copyright-text">
                    <strong>SubastaShop</strong> &copy; 2026 - Todos los derechos reservados.
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#">Soporte</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Privacidad</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Términos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>