<footer class="footer py-3 mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 text-start">
                <p class="mb-0 small text-secondary">
                    <img src="assets/img/subasta_shop_icon.png" alt="Logo" style="width: 20px; height: 20px; vertical-align: middle;" class="me-1">
                    <strong class="text-white">SubastaShop</strong> &copy; 2026 - Todos los derechos reservados.
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a routerLink="/soporte" class="text-decoration-none text-light opacity-75 hover-opacity-100 transition-all">Soporte</a>
                    </li>
                    <li class="list-inline-item ms-3">
                        <a routerLink="/privacidad" class="text-decoration-none text-light opacity-75 hover-opacity-100 transition-all">Privacidad</a>
                    </li>
                    <li class="list-inline-item ms-3">
                        <a routerLink="/terminos" class="text-decoration-none text-light opacity-75 hover-opacity-100 transition-all">Términos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
