<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand fw-bold" routerLink="/">SubastaShop 🚀</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center"> @if (authService.isLoggedIn()) {

                    @if (authService.isAdmin()) {
                        <li class="nav-item me-2">
                            <a class="btn btn-sm btn-outline-danger fw-bold" routerLink="/admin">
                                👑 Admin
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mi-cuenta" routerLinkActive="active">
                            Mi Cuenta 📋
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-warning" routerLink="/admin/crear">Publicar Item ➕</a>
                    </li>
                    
                    <li class="nav-item ms-2">
                        <span class="nav-link text-white border border-secondary rounded px-2">
                            Hola, <strong>{{ authService.currentUser()?.nombre || 'Usuario' }}</strong>
                        </span>
                    </li>
                    
                    <li class="nav-item ms-2">
                        <button class="btn btn-danger btn-sm" (click)="authService.logout()">Salir</button>
                    </li>
                }

                @else {
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm mt-1" routerLink="/login">Iniciar Sesión</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

@if (loaderService.isLoading()) {
  <div class="loader-overlay">
    <div class="spinner-border text-light" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
}