@if (isAuthPage()) {
    <div class="auth-wrapper">
        <router-outlet></router-outlet>
    </div>
} @else {
    <div class="app-wrapper" [class.sidebar-collapsed]="!layoutService.sidebarOpen()">
        
        @if (authService.isLoggedIn()) {
            <app-sidebar></app-sidebar>
        }

        <div class="main-content">
            @if (authService.isLoggedIn()) {
                <app-navbar></app-navbar>
            }
            
            <div class="content-body">
                <router-outlet></router-outlet>
            </div>

            <app-footer></app-footer>
        </div>

        <!-- Carrito Flotante Global -->
        <app-cart-float></app-cart-float>
    </div>
}

@if (loaderService.isLoading()) {
    <div class="loader-overlay">
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
}