<nav id="sidebar" class="sidebar" [class.toggled]="layoutService.sidebarOpen()">
    <div class="sidebar-brand">
        <a routerLink="/" class="text-white text-decoration-none fw-bold fs-4">
            SubastaShop 🚀
        </a>
    </div>

    <div class="sidebar-content">
        <ul class="sidebar-nav">

            <ng-container *ngIf="isComprador">
                <li class="sidebar-header">Principal</li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/mi-cuenta" routerLinkActive="active">
                        <i class="bi bi-person-badge"></i> <span class="align-middle">Mi Perfil</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="isAdmin">
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/admin/configuracion" routerLinkActive="active">
                        <i class="bi bi-gear"></i> <span class="align-middle">Config. Transferencias</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="isAdmin || isSuperAdmin">
                <li class="sidebar-header">Gestión</li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/admin" routerLinkActive="active">
                        <i class="bi bi-person-badge"></i> <span class="align-middle">Panel de Administración</span>
                    </a>
                </li>

            </ng-container>

            <ng-container *ngIf="isSuperAdmin">
                <li class="sidebar-header">Súper Admin</li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLink="/super-admin/usuarios" routerLinkActive="active">
                        <i class="bi bi-people"></i> <span class="align-middle">Usuarios del Sistema</span>
                    </a>
                </li>
            </ng-container>

            <li class="sidebar-item mt-5">
                <a class="sidebar-link text-danger" (click)="authService.logout()" style="cursor: pointer;">
                    <i class="bi bi-box-arrow-left"></i> <span class="align-middle">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="sidebar-backdrop d-lg-none" *ngIf="layoutService.sidebarOpen()" (click)="layoutService.toggleSidebar()"
    (keydown)="layoutService.toggleSidebar()" tabindex="0"
    style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 99;">
</div>