name: Deploy Frontend to Azure Storage
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci --legacy-peer-deps

      - name: Build Angular App
        run: npm run build

      - name: Upload to Azure Blob Storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name storagesubastasapp \
              --auth-mode key \
              --connection-string "${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}" \
              --source ./dist/subasta-frontend/browser \
              --destination '$web' \
              --overwrite
